body{
    height: 100vh;
    background-attachment: fixed;
}

.super{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.mainContainer{
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.contentContainer{
    padding: 20px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    backdrop-filter: blur(6px);
    align-items: center;
}

form{
    padding: 10%;
}

h1, h3{
    text-align: left;
}

.mainContainer{
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

.titleContainer{
    background-color: #000;
    text-align: center;
}

td{
    padding: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
}
.image{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1, h3{
    text-align: center;
}

.portfolio{
}

.portfolioImage{
    width:100%;
}

a:link, a:visited {
    background-color: #2c6fdb;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color: #033485;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
  
li.navbar {
    float: left;
}
  
li.navbar a {
    display: block;
    color: white;
    text-align: center;
    background-color: #000;
    padding: 16px;
    text-decoration: none;
}
  
li.navbar a:hover {
    background-color: #111;
}

#background-video {
    width: auto;
    height: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    display: block;
  }

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("/resources/images/bg.png") fixed;
      background-size: cover;
    }
} 

.skills{
    text-align: center;
}